<template>
  <div>
    <div><p>id: {{id}}</p></div>
    <div><p>Nombre: {{country}}</p></div>
    <div><p>Pais: {{pais}}</p></div>
    <div><p>Lat: {{latitud}}</p></div>
    <div><p>Lng: {{longitud}}</p></div>

  </div>
</template>

<script>
  export default {
    name: "Ciudades",
    props: {
      id: String,
      pais:String,
      country:String,
      latitud:String,
      longitud:String,
    },

  }
</script>
<style scoped>
</style>
