<template>
<div>
  <div><p>Nombre: {{ciudad}}</p></div>
  <div><p>Precipitaciones: {{tiempo}}</p></div>
  <div><p>Temperatura: {{temperatura}}</p></div>
  <div><p>Velocidad Viento: {{speed}}</p></div>
  <div><p>Tiempo De Lluvia: {{lluvia}}</p></div>
</div>
</template>

<script>
export default {
name: "CurrentWeather",
props: {
ciudad: String,
tiempo: String,
temperatura : String,
speed: String,
lluvia:String,


},

}
</script>
<style scoped>
</style>
