<template>
  <div>
    <div><p>id: {{id}}</p></div>
    <div><p>Nombre: {{displayName}}</p></div>
    <div><p>Tipo de Evento: {{type}}</p></div>
    <div><p>Empieza y Acaba: {{start}}</p></div>
    <div><p>Nombre del Artista: {{displaName}}</p></div>
  </div>
</template>

<script>
  export default {
    name: "Events",
    props: {
      id: String,
      displayName:String,
      type:String,
      start:Array,
      displaName:String,

    },

  }
</script>
<style scoped>
</style>
