<template>
  <div>
    <div><p>Pais {{ciudad}}</p></div>
    <div>Temperatura Minima {{tiempomin}}</div>
    <div>Temperatura Maxima {{tiempomax}}</div>
    <div>Humedad {{humedad}}</div>
  </div>
</template>

<script>
  export default {
    name: "Forecast",
    props: {
      ciudad: String,
      tiempomax: String,
      tiempomin:String,
      humedad:String
    },

  }
</script>
<style scoped>
</style>


