<template>
  <div>
    <div style="flex:1;"></div>
      <h3 class="subtitle is-3" style="color:red; margin-bottom: 80px; font-size: 50px; border-bottom: solid 1px; padding: 5px;">Welcome to MusicTime!</h3>
      <span style="font-size: 18px; color: red;"> Aqui encontrarás información de eventos y tiempo de todas las ciudades del mundo.</span>
      <br> <br> <br>
  </div>
</template>

<script>
  export default {
    name: "Index"
  }
</script>

<style scoped>

</style>
