<template>
  <div>
    <div id="app2">
      <div>
        <h1><b>{{texto}}</b></h1>
      </div>
      <div>
        <select v-model="select">
          <option v-for="ciutat in ciutats"
                  :key="ciutat">
            {{ciutat}}
          </option>
        </select>
      </div>
      <br>
    </div>
    <div id="color">
      <div v-if="this.apiValues4.resultsPage.totalEntries != 0">
        <h2>Ciudad id</h2>
      <ciudades :id="this.apiValues3.resultsPage.results.location[0].metroArea.id" :country="this.apiValues3.resultsPage.results.location[0].metroArea.displayName" :pais="this.apiValues3.resultsPage.results.location[0].metroArea.country" :latitud="this.apiValues3.resultsPage.results.location[0].metroArea.lat" :longitud="this.apiValues3.resultsPage.results.location[0].metroArea.lng"></ciudades>
      </div>
      <div v-else>
        <span> No hay eventos para esta ciudad</span>
      </div>
    </div>

    <div id="color2">
      <div v-if="this.apiValues4.resultsPage.totalEntries != 0">
        <h3>Eventos</h3>
        <events :id="this.apiValues4.resultsPage.results.event[0].id"
                :displayName="this.apiValues4.resultsPage.results.event[0].displayName"
                :type="this.apiValues4.resultsPage.results.event[0].type"
                :start="this.apiValues4.resultsPage.results.event[0].start"
                 :displaName="this.apiValues4.resultsPage.results.event[0].performance[0].displayName" ></events>
      </div>

    </div>

  </div>
</template>

<script>
  import ciudades from '../components/Ciudades'
  import events from '../components/Events'
  export default {
    name: "infoevents",
    props:{
      texto:String,
      ciutats:Array,
    },
    data() {
      return {
        desplega: false,
        intents: 0,
        apiGetCiutat: null,
        select: this.ciutats[0],

        jsonResponse: {},
        apiValues3:{

          "resultsPage":
            {
              "status":
                "ok",
              "results":
                {
                  "location":
                    [{
                      "city": {
                        "lat": 41.3833,
                        "lng": 2.18333,
                        "country": {"displayName": "Spain"},
                        "displayName": "Barcelona"
                      },
                      "metroArea": {
                        "lat": 41.3833,
                        "lng": 2.18333,
                        "country": {"displayName": "Spain"},
                        "uri": "http://www.songkick.com/metro_areas/28714-spain-barcelona?utm_source=54832&utm_medium=partner",
                        "displayName": "Barcelona",
                        "id": 28714
                      }
                    }, {
                      "city": {
                        "lat": 10.1333,
                        "lng": -64.7,
                        "country": {"displayName": "Venezuela"},
                        "displayName": "Barcelona"
                      },
                      "metroArea": {
                        "lat": 10.1333,
                        "lng": -64.7,
                        "country": {"displayName": "Venezuela"},
                        "uri": "http://www.songkick.com/metro_areas/32661-venezuela-barcelona?utm_source=54832&utm_medium=partner",
                        "displayName": "Barcelona",
                        "id": 32661
                      }
                    }]
                },
              "perPage": 50,
              "page": 1,
              "totalEntries": 2
            }
        },
        apiValues4:{
          "event": [{
            "id": 33853029,
            "displayName": "Shawn Mendes with Alessia Cara at Palau Sant Jordi (March 26, 2019)",
            "type": "Concert",
            "uri": "http://www.songkick.com/concerts/33853029-shawn-mendes-at-palau-sant-jordi?utm_source=54832&utm_medium=partner",
            "status": "ok",
            "popularity": 0.264916,
            "start": {
              "date": "2019-03-26",
              "datetime": "2019-03-26T19:00:00+0100",
              "time": "19:00:00"
            },
            "performance": [{
              "id": 65049424,
              "displayName": "Shawn Mendes",
              "billing": "headline",
              "billingIndex": 1,
              "artist": {
                "id": 8008073,
                "displayName": "Shawn Mendes",
                "uri": "http://www.songkick.com/artists/8008073-shawn-mendes?utm_source=54832&utm_medium=partner",
                "identifier": [{
                  "mbid": "b7d92248-97e3-4450-8057-6fe06738f735",
                  "href": "http://api.songkick.com/api/3.0/artists/mbid:b7d92248-97e3-4450-8057-6fe06738f735.json"
                }]
              }
            }, {
              "id": 71235529,
              "displayName": "Alessia Cara",
              "billing": "support",
              "billingIndex": 2,
              "artist": {
                "id": 8568579,
                "displayName": "Alessia Cara",
                "uri": "http://www.songkick.com/artists/8568579-alessia-cara?utm_source=54832&utm_medium=partner",
                "identifier": [{
                  "mbid": "97e69730-3791-423b-9770-287261588854",
                  "href": "http://api.songkick.com/api/3.0/artists/mbid:97e69730-3791-423b-9770-287261588854.json"
                }]
              }
            }],
            "ageRestriction": null,
            "flaggedAsEnded": false,
            "venue": {
              "id": 34191,
              "displayName": "Palau Sant Jordi",
              "uri": "http://www.songkick.com/venues/34191-palau-sant-jordi?utm_source=54832&utm_medium=partner",
              "metroArea": {
                "displayName": "Barcelona",
                "country": {"displayName": "Spain"},
                "id": 28714,
                "uri": "http://www.songkick.com/metro_areas/28714-spain-barcelona?utm_source=54832&utm_medium=partner"
              },
              "lat": 41.36241,
              "lng": 2.15566
            },
            "location": {
              "city": "Barcelona, Spain",
              "lat": 41.36241,
              "lng": 2.15566
            }
          }]

        },
        date:new Date()
      }
    },


    methods: {
      async cridaCiudades(){
        let url='https://api.songkick.com/api/3.0/search/locations.json?query='+this.select+'&apikey=Cglf2H7c7d4KPMO1';

        try{
          /**Pasamos la información a json*/
          var response= await fetch(url);
          var data=await response.json();
          this.apiValues3=data;

          var url2='https://api.songkick.com/api/3.0/metro_areas/'+this.apiValues3.resultsPage.results.location[0].metroArea.id+'/calendar.json?apikey=Cglf2H7c7d4KPMO1&min_date=' + this.date.toISOString().slice(0,10) + '&max_date=' + this.date.toISOString().slice(0,10);
          var response2= await fetch(url2);
          var data2=await response2.json();
          this.apiValues4=data2;

        }
        catch(error){
          console.log(error);
        }
      },
    },

    created: function () {
      this.cridaCiudades();
    },

    watch:{
      select(){
        this.cridaCiudades();
      }
    },

    components:{
      ciudades,
      events
    }
  }
</script>

<style scoped>
  #app2 {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    margin-top: 60px;
  }
  #color{
    background: red;
    color:black;
    font-size: larger;
  }
  #color2{
    background: purple;
    color:black;
    font-size: larger;
  }

  h1{
    color:black;
  }
</style>
