<template>
<div>
  <div id="app2">
  <div>
    <h1><b>{{texto}}</b></h1>
  </div>
  <div>
    <select v-model="select">
      <option v-for="ciutat in ciutats"
              :key="ciutat">
        {{ciutat}}
      </option>
    </select>
  </div>
  <br>
</div>
  <div id="color">
    <h1>Current</h1>
<current :ciudad="this.apiValues.name" :tiempo="this.apiValues.weather[0].main" :temperatura="this.apiValues.main.temp" :speed="this.apiValues.wind.speed" :lluvia="this.apiValues.rain"></current>


  </div>
  <div id="color2">
    <h1>Forecast</h1>
    <forecast :ciudad="this.apiValues2.city.country" :tiempomax="this.apiValues2.list[0].main.temp_min" :tiempomin="this.apiValues2.list[0].main.temp_max" :humedad="this.apiValues2.list[0].main.humidity"></forecast>
  </div>



</div>
</template>

<script>
import current from '../components/CurrentWeather'
import forecast from '../components/Forecast'
export default {
name: "infometeo",
props:['ciutats'],
data() {

return {
desplega: false,
intents: 0,
apiGetCiutat: null,
select: this.ciutats[0],

jsonResponse: {},

apiValues: {

},
apiValues2:
{

},

  date:new Date()
}
},
methods: {
  async cridaCurrent(){
    let url='https://api.openweathermap.org/data/2.5/weather?q=' + this.select + '&appid=2e84ec51d8f3a61dcc749f18638d5b30';
    try{
      /**Pasamos la información a json*/
      let response= await fetch(url);
      let data=await response.json();
      this.apiValues=data;
      console.log(this.apiValues);
    }
    catch(error){
      console.log(error);
    }
  },

  async cridaForecast(){
    let url='https://api.openweathermap.org/data/2.5/forecast?q=' + this.select + '&units=metric&lang=ca&appid=644da4f2a1231c6611d2e2d8abb1fc90';
    try{
      /**Pasamos la información a json*/
      let response= await fetch(url);
      let data=await response.json();
      this.apiValues2=data;
      console.log(this.apiValues2);
    }
    catch(error){
      console.log(error);
    }
  },
},

created: function () {
  this.cridaCurrent();
  this.cridaForecast();
},

watch:{
  select(){
    this.cridaCurrent();
    this.cridaForecast();
}
},

components:{
  current:current,
  forecast:forecast,
}
}
</script>

<style scoped>
  #app2 {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    margin-top: 60px;
  }
  #color{
    background: red;
    color:black;
    font-size: larger;
  }
  #color2{
    background: purple;
    color:black;
    font-size: larger;
  }

  h1{
  color:black;
  }
</style>
