<template>
  <div id="app">
    <button v-on:click="cambio"><strong>{{ text }}</strong></button>
    <div v-if="this.musica==true">
      <musica v-if="opcion == 'europa'" v-bind:ciutats="this.ciutatseuropa"></musica>
      <musica v-else-if="opcion == 'america'" v-bind:ciutats="this.ciutatsamerica"></musica>

    </div>

    <div v-else>
      <infometeo v-if="opcion == 'europa'" v-bind:ciutats="this.ciutatseuropa"></infometeo>
      <infometeo v-else-if="opcion == 'america'" v-bind:ciutats="this.ciutatsamerica"></infometeo>
    </div>
  </div></template>

<script>
  import infometeo from './infometeo';
  import infoEvents from './infoEvents';

  export default {
    name: 'app',
    props: ['opcion'],
    data() {
      return {

        ciutatseuropa: ["Barcelona",
          "Lleida",
          "Zaragoza",
          "Sevilla",
          "Madrid",
          "Paris",
          "Melbourne",
          "Moscow",
          "Pekin",
          "Marrakech"],

        ciutatsamerica: ["Ciudad de México",
          "Washington",
          "New York"],

        musica: false,
        text:"Musica",

      }
    },
    components: {
      'infometeo':infometeo,
      'musica': infoEvents,
    },
    methods: {
      cambio: function(){
        this.musica = !this.musica;
        if (this.musica == true){
          this.text = "Tiempo";
        }else {
          this.text = "Musica";
        }
      }
    }


  }

</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
