<template>
  <div>

        <router-link to="/" class="navbar-item" active-class="is-active">Index</router-link>


        <router-link to="/europa/listaCiudades" class="navbar-item" active-class="is-active">Europa </router-link>


        <router-link to="/america/listaCiudades" class="navbar-item" active-class="is-active"> America</router-link>
  </div>


</template>

<script>
  export default {
    name: "Menu"
  }
</script>

<style scoped>

</style>
