<template>
  <div id="app">
    <appMenu></appMenu>
    <router-view></router-view>
  </div>
</template>

<script>
  import Menu from './components/Menu.vue';

  export default {
    name: 'app',
    components: {
      appMenu: Menu
    }
  }
</script>

