<template>
<div>
<div>{{ciudad}}</div>
<div>{{tiempo}}</div>
</div>
</template>

<script>
export default {
name: "CurrentWeather",
props: {
ciudad: String,
tiempo: String,
},

}
</script>
<style scoped>
</style>
