<!--<template>-->

  <!--<div>-->
    <!--<div id="app2">-->
      <!--<div>-->
        <!--<h1><b>{{texto}}</b></h1>-->
      <!--</div>-->
      <!--<div>-->
        <!--<select v-model="select">-->
          <!--<option v-for="ciutat in ciutats"-->
                  <!--:key="ciutat">-->
            <!--{{ciutat}}-->
          <!--</option>-->
        <!--</select>-->
      <!--</div>-->
      <!--<br>-->
    <!--</div>-->
    <!--<div id="color">-->
      <!--<h1 id="colorblack">Current</h1>-->
      <!--<forecast :ciudad="this.apiValues.city"></forecast>-->
      <!--<br>-->
      <!--<forecast :tiempo="this.apiValues.wind"></forecast>-->
      <!--<br>-->
    <!--</div>-->
  <!--</div>-->
<!--</template>-->

<!--<script>-->
  <!--import forecast from '../components/Forecast'-->

  <!--export default {-->
    <!--name: "infoforecast",-->
    <!--props:{-->
      <!--texto:String,-->
      <!--ciutats:Array,-->
    <!--},-->
    <!--data() {-->
      <!--return {-->
        <!--desplega: false,-->
        <!--intents: 0,-->
        <!--apiGetCiutat: null,-->
        <!--select: this.ciutats[0],-->
        <!--jsonResponse: {},-->

        <!--apiValues: {-->
            <!--"city": {-->
              <!--"id": 1851632, "name": "Shuzenji",-->
              <!--"coord": {"lon": 138.933334, "lat": 34.966671},-->
              <!--"country": "JP",-->
              <!--"cod": "200",-->
              <!--"message": 0.0045,-->
              <!--"cnt": 38,-->
              <!--"list": [{-->
                <!--"dt": 1406106000,-->
                <!--"main": {-->
                  <!--"temp": 298.77,-->
                  <!--"temp_min": 298.77,-->
                  <!--"temp_max": 298.774,-->
                  <!--"pressure": 1005.93,-->
                  <!--"sea_level": 1018.18,-->
                  <!--"grnd_level": 1005.93,-->
                  <!--"humidity": 87,-->
                  <!--"temp_kf": 0.26-->
                <!--},-->
                <!--"weather": [{"id": 804, "main": "Clouds", "description": "overcast clouds", "icon": "04d"}],-->
                <!--"clouds": {"all": 88},-->
                <!--"wind": {"speed": 5.71, "deg": 229.501},-->
                <!--"sys": {"pod": "d"},-->
                <!--"dt_txt": "2014-07-23 09:00:00"-->
              <!--}-->
              <!--]-->
            <!--}-->
          <!--},-->
      <!--}-->


    <!--},-->

    <!--methods: {-->


    <!--},-->
    <!--created: function () {-->
      <!--let c =this;-->
      <!--fetch("https://api.openweathermap.org/data/2.5/forecast?q=" + this.select + "&units=metric&lang=ca&appid=644da4f2a1231c6611d2e2d8abb1fc90")-->
        <!--.then(function (response) {-->
          <!--return response.json()-->
        <!--})-->
        <!--.then(function (data) {-->
          <!--vm.apiValues = data;-->
        <!--})-->
        <!--.catch(function (error) {-->
          <!--console.log(error);-->
        <!--})-->


    <!--},-->
    <!--watch:{-->
      <!--async select(){-->
        <!--let url='https://api.openweathermap.org/data/2.5/forecast?q=' + this.select + '&units=metric&lang=ca&appid=644da4f2a1231c6611d2e2d8abb1fc90';-->
        <!--try{-->
          <!--/**Pasamos la información a json*/-->
          <!--let response= await fetch(url);-->
          <!--let data=await response.json();-->
          <!--this.apiValues=data;-->
          <!--console.log(this.apiValues);-->
        <!--}-->
        <!--catch(error){-->
          <!--console.log(error);-->
        <!--}-->
      <!--}-->
    <!--} ,-->
    <!--components:{-->
      <!--forecast-->
    <!--}-->
  <!--}-->
<!--</script>-->

<!--<style scoped>-->
  <!--#app2 {-->
    <!--font-family: 'Avenir', Helvetica, Arial, sans-serif;-->
    <!-- -webkit-font-smoothing: antialiased;-->
    <!-- -moz-osx-font-smoothing: grayscale;-->
    <!--text-align: left;-->
    <!--color: #2c3e50;-->
    <!--margin-top: 60px;-->
  <!--}-->
  <!--#color{-->
    <!--background: yellow;-->
    <!--color:black;-->
    <!--font-size: larger;-->
  <!--}-->

  <!--#colorblack{-->
    <!--color:black;-->
  <!--}-->
<!--</style>-->
