<template>
<div>
  <div id="app2">
  <div>
    <h1><b>{{texto}}</b></h1>
  </div>
  <div>
    <select v-model="select">
      <option v-for="ciutat in ciutats"
              :key="ciutat">
        {{ciutat}}
      </option>
    </select>
  </div>
  <br>
</div>
  <div id="color">
    <h1>Current</h1>
<current :ciudad="this.apiValues.name" :tiempo="this.apiValues.weather[0].main"></current>

  </div>
  <div id="color2">
    <h1>Forecast</h1>
    <forecast :ciudad="this.apiValues2.city.country"></forecast>
  </div>


</div>
</template>

<script>
import current from '../components/CurrentWeather'
import forecast from '../components/Forecast'
export default {
name: "infometeo",
props:{
texto:String,
ciutats:Array,
},
data() {
return {
desplega: false,
intents: 0,
apiGetCiutat: null,
select: this.ciutats[0],
jsonResponse: {},

apiValues: {
"coord": {
"lon": 145.77,
"lat": -16.92
},
"weather": [{
"id": 803,
"main": "Clouds",
"description": "broken clouds",
"icon": "04n"
}],
"base": "cmc stations",
"main": {
"temp": 293.25,
"pressure": 1019,
"humidity": 83,
"temp_min": 289.82,
"temp_max": 295.37
},
"wind": {
"speed": 5.1,
"deg": 150
},
"clouds": {
"all": 75
},
"rain": {
"3h": 3
},
"dt": 1435658272,
"sys": {
"type": 1,
"id": 8166,
"message": 0.0166,
"country": "AU",
"sunrise": 1435610796,
"sunset": 1435650870
},
"id": 2172797,
"name": "Cairns",
"cod": 200
},
apiValues2:
{
"city": {
"id": 1851632, "name": "Shuzenji",
"coord": {"lon": 138.933334, "lat": 34.966671},
"country": "JP",
"cod": "200",
"message": 0.0045,
"cnt": 38,
"list": [{
"dt": 1406106000,
"main": {
"temp": 298.77,
"temp_min": 298.77,
"temp_max": 298.774,
"pressure": 1005.93,
"sea_level": 1018.18,
"grnd_level": 1005.93,
"humidity": 87,
"temp_kf": 0.26
},
"weather": [{"id": 804, "main": "Clouds", "description": "overcast clouds", "icon": "04d"}],
"clouds": {"all": 88},
"wind": {"speed": 5.71, "deg": 229.501},
"sys": {"pod": "d"},
"dt_txt": "2014-07-23 09:00:00"
}
]
}
},
}


},


methods: {
  async cridaCurrent(){
    let url='https://api.openweathermap.org/data/2.5/weather?q=' + this.select + '&appid=2e84ec51d8f3a61dcc749f18638d5b30';
    try{
      /**Pasamos la información a json*/
      let response= await fetch(url);
      let data=await response.json();
      this.apiValues=data;
      console.log(this.apiValues);
    }
    catch(error){
      console.log(error);
    }
  },

  async cridaForecast(){
    let url='https://api.openweathermap.org/data/2.5/forecast?q=' + this.select + '&units=metric&lang=ca&appid=644da4f2a1231c6611d2e2d8abb1fc90';
    try{
      /**Pasamos la información a json*/
      let response= await fetch(url);
      let data=await response.json();
      this.apiValues2=data;
      console.log(this.apiValues2);
    }
    catch(error){
      console.log(error);
    }
  }

},
created: function () {
  this.cridaCurrent();
  this.cridaForecast();
},

watch:{
  select(){
    this.cridaCurrent();
    this.cridaForecast();
}
},

components:{
current,
  forecast
}
}
</script>

<style scoped>
  #app2 {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    margin-top: 60px;
  }
  #color{
    background: blue;
    color:white;
    font-size: larger;
  }
  #color2{
    background: yellow;
    color:black;
    font-size: larger;
  }

  h1{
  color:black;
  }
</style>
